* {
  background-color: rgb(207, 207, 207);
}

.create-and-update-button {
  background-color: blue;
  color: white;
  padding: 5px;
  margin: 5px;
  border: 2;
  border-color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.add-button {
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  border-color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.table-container {
  width: 100%; /* Make the table span the full width of its container */
  border-collapse: collapse; /* Collapse the borders between cells */
  text-align: center; /* Center-align text in cells */
  border: 2px;
  border-color: red;
}

/* Style the table header (thead) */
.head-wrap {
  background-color: #333; /* Add a background color for the header row */
}

/* Style table cells (td and th) */
.column {
  padding: 10px; /* Add padding for cell content */
  border: 1px solid #ccc; /* Add borders to the cells */
  width: 33%; /* Distribute the width evenly among columns (3 columns) */
  border: 1px;
  border-color: antiquewhite;
}

/* Center-align text in header cells (th) */
.head-wrap th {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.create_form {
  display: none;
}

.edit_form {
  display: none;
}


